.container {
    background-color: whitesmoke;
    min-height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 4rem 0;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    background-color: antiquewhite;
    min-width: 24rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

li > span {
    color: red;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    li {
        min-width: 18rem;
    }
}